/* @tailwind base; */
/* @tailwind components; */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@tailwind utilities;

@layer utilities {
  .h-20 {
    height: 59px;
  }
}

span {
  font-family : "pretendard"
}

p {
  font-family: "pretendard";
  font-weight: 600;
}

 body {
  font-family: 'pretendard';
}

/* Scheduler css */
.flash {
  animation-name: flash;
  animation-duration: 0.5s;
}

@keyframes flash {
  from {
    background-color: #c9fb7e;
  }

  to {
    background-color: #fbf1e8;
  }
}
.App {
  font-family: 'pretendard';
  text-align: center;
}

.table-drag-select {
  /* Stretch horizontally to fill parent */
  width: 100%;
  /* Keep columns same width */
  table-layout: fixed;
  /* Disable text selection */
  user-select: none;
  /* Center in parent */
  margin-left: auto;
  margin-right: auto;
  /* Remove space between border */
  border-collapse: collapse;
  border-bottom: 1px solid #D6E6FF
}

/* Table cells */
.table-drag-select td {
  font-size: 10px;
  height: 0.5em;
  text-align: center;
  /* Cut off long strings of text with ... */
  text-overflow: ellipsis;
  overflow: hidden;
  background-clip: padding-box;
  padding-left: 0rem;
  padding-right: 0rem;
  border-bottom: 0.05rem dashed #D6E6FF;
  border-top: 0.05rem dashed #D6E6FF;
}

.table-drag-select tr.sharp {
  border-bottom: 0.05rem dashed #D6E6FF;
  border-top: 0.05rem solid #D6E6FF;
}

.table-drag-select tr.half {
  border-bottom: 0.05rem solid #D6E6FF;
  border-top: 0.05rem dashed #D6E6FF;
}

/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
  background-color: rgb(255, 255, 255);
  /* Make the cursor a + symbol */
  /* cursor: cell; */
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-disabled {
  /* Put yer css here */
  background-color: #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-color: #EEEEEE
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-white-disabled {
  /* Put yer css here */
  background-color: rgb(255, 255, 255);
  border-bottom: 0px solid;
  border-top: 0px solid;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 14px */

  text-align: center;
  letter-spacing: -0.003em;

  color: #333333;
}

.table-drag-select td.cell-white-disabled-day-of-the-week {
  /* Put yer css here */
  background-color: rgb(255, 255, 255);
  border-bottom: 0px solid;
  border-top: 0px solid;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 10px */

  text-align: center;
  letter-spacing: -0.003em;

  padding-bottom: 10px;
}

.table-drag-select td.cell-white-disabled-date {
  /* Put yer css here */
  background-color: rgb(255, 255, 255);
  border-bottom: 0px solid;
  border-top: 0px solid;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #333333;
  /* identical to box height, or 14px */

  text-align: center;
  letter-spacing: -0.003em;

  padding-bottom: 20px;

}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-white-disabled-time {
  /* Put yer css here */
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.003em;

  color: #333333;

  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-right: 0.01rem solid #D6E6FF;

  vertical-align: top;
  padding-right: 5px;
}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
  background-color: #00D8F8;
  /* border-bottom: 0.1px solid; */
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
  /* This is the blue color y//ou see when you select text with the cursor */
  background-color: #00C2DE;
}

.table-drag-select td.calendar {
  background-color: #000000;
}

.table-drag-select td.opacity-0-25 {
  background-color: #9ca3ff54;
}

.table-drag-select td.opacity-0-50 {
  background-color: #6972e86c;
}

.table-drag-select td.opacity-0-75 {
  background-color: #5d5be0a1;
}

.table-drag-select td.opacity-1-00 {
  background-color: #5d5be0;
}

.table-drag-select td.mon {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.tue {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.wed {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.thu {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.fri {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.sat {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
.table-drag-select td.sun {
  border-left: 0.05rem solid #D6E6FF;
  border-right: 0.05rem solid #D6E6FF;
}
