/* this doesn't work */

.flash {
  animation-name: flash;
  animation-duration: 0.5s;
}

@keyframes flash {
  from {
    background-color: #c9fb7e;
  }

  to {
    background-color: #fbf1e8;
  }
}

.App {
  font-family: 'pretendard';
  text-align: center;
}
